
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}

header{
    background-color: #93BFCF;
    height: 100vh;
}
nav{
    background-color: #6096B4;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}


.logo{
    font-weight: 800;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.logo:hover{
    color: #FF6E31;
}


.navbar__menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar__menu a{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar__menu a:hover{
    color: #FF6E31;
}

.active{
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 5px;
}
.menu{
    display: none;
    color: #fff;
    font-size: 25px;
}

.menu__remove{
    display: none;
}


@media (max-width: 576px) {

    .navbar__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 80%;
        background-color: #6096B4;
        transform: translateX(-100%);
        transition: all .8s ease;
    }

    .menu__active{
        transform: translate(0);
    }

    .menu{
        display: block;
    }

    .menu__bars{
        display: none;
    }

    .menu__remove{
        display: none;
        color: #fff;
        font-size: 25px;
    }

    .menu__remove__rem{
        display: block;
    }


}
